* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: aqua;
}

.navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: rgb(252, 253, 169);
    transition: 0.4s;
}

.container input {
    margin-left: 200px;
}

.card a {
    color: black;
    margin-left: 100px;
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    .container i {
        display: none;
    }
    .card {
        margin-top: 15px;
    }
    .container input {
        margin-left: 50px;
    }
}